# VariÃ¡veis

In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
b = 2

In [4]:
a+b

5

In [6]:
c = '3'

In [8]:
print(b+c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
d = '4'

In [10]:
print(c+d)

34

In [11]:
type(c)

str

In [12]:
type(a)

int

In [13]:
str(a) + str(b)

'32'

In [14]:
int('3') + int('4')

7

In [15]:
int(c) + int(d)

7

In [16]:
a, b, c, d = 1, 2, 3, 4

In [17]:
a

1

In [18]:
b

2

In [20]:
c

3

In [21]:
d

4

In [22]:
e = "Escrito com aspas duplas"

In [23]:
f = 'Escrito com aspas simples'

In [24]:
g = 'A letra "n" esta entre aspas'

In [26]:
g

'A letra "n" esta entre aspas'

In [27]:
g = "A letra 'n' esta entre aspas"

In [28]:
g

"A letra 'n' esta entre aspas"

In [29]:
g = "A letra \"n\" esta entre aspas"

In [30]:
g

'A letra "n" esta entre aspas'

In [32]:
i = 15.65

In [33]:
j = True

In [34]:
type(i)

float

In [35]:
type(j)

bool