In [2]:
my_list = [0, 1, 2, 3, 4]

In [3]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [4]:
[x * 2 for x in range(5)]

[0, 2, 4, 6, 8]

In [6]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [7]:
[x for x in range(10) if x % 2 == 1]

[1, 3, 5, 7, 9]

In [17]:
know_people = [' Ana', 'Manuela', ' felipe ', 'PEDRO']

In [18]:
know_people

[' Ana', 'Manuela', ' felipe ', 'PEDRO']

In [19]:
know_people2 = []
for i in range(len(know_people)):
    know_people2[i] = know_people[i].strip()

IndexError: list assignment index out of range

In [20]:
know_people

[' Ana', 'Manuela', ' felipe ', 'PEDRO']

In [26]:
' Ana'.lower()

' ana'

In [27]:
' Ana'.upper()

' ANA'

In [33]:
' ana'.strip().capitalize()

'Ana'

In [30]:
normalized_people = [person.strip().capitalize() for person in know_people]
normalized_people

['Ana', 'Manuela', 'Felipe', 'Pedro']